<!-- HEADER 02 -->
<section id="home" class="header-02">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="flexslider-container">
          <div class="flexslider">
            <ul class="slides">
              <li class="background-two"></li>
              <li class="background-three"></li>
              <li class="background-one"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 text-center">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#story">Our Story</a></li>
                <li><a href="#wedding">Wedding</a></li>
                <li><a href="#accomm">Accomm</a></li>
                <li><a href="#registry">Registry</a></li>
                <li><a href="#rsvp">RSVP</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="caption">
          <h1>MATT&JESSICA</h1>
          <h6>September 17 2017, Seatlle, Washington</h6>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- STORY 02 -->
<section id="story" class="story-02">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title">
        <h3>Our Story</h3>
        <h5>A little about the bride and groom.</h5>
      </div>
      <div class="people">
        <div class="col-md-4 col-sm-6 col-md-offset-2">
          <%= image_tag "matt2.jpg" %>

          <p>Many things that made me always love you. Gentleness and courtesy everything can make me fly into the sky. Until probably can not think of myself before can love you. </p>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= image_tag "jess.jpg" %>

          <p>Simplicity you showed, it can always make me happy. Serenity, honesty, happiness makes me endlessly mention your name in my mind. Thank you for everything. </p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- WEDDING 02 -->
<section id="wedding" class="wedding-02">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <%= image_tag "skansonia-one.jpg" %>
        <%= image_tag "skansonia-two.jpg" %>
      </div>
      <div class="col-md-12 text-center">
        <h3>Ceremony & Reception</h3>
        <h5>SKANSONIA</h5>
        <p>12:00pm - 5:00pm</p>
        <p>205 NE Northlake Way/p>
        <p>Seattle, WA 98105</p>
        <a href="#rsvp" class="btn btn-default">RSVP NOW <i class="ion-ios-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- ACCOMM 02 -->

<section id="accomm" class="accomm-02">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Where to stay?</h3>
      </div>
      <div class="col-md-4 col-sm-6 col-md-offset-2">
        <div class="box">
          <%= image_tag "stay1.jpg" %>

          <h5>HOTEL NYAMANE</h5>
          <p>Mention our names when making your reservation to recieve special the group booking discount.</p>
          <br>
          <p>Jl. Pramuka 89</p>
          <p>Siap Grak 123</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="box">
          <%= image_tag "stay2.jpg" %>

          <h5>HOTEL KERATON</h5>
          <p>Mention our names when making your reservation to recieve 10% discount.</p>
          <br>
          <p>Ring Road Utara</p>
          <p>78 Jalur Cepat</p>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- REGISTRY 02 -->
<section id="registry" class="registry-02">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Give the gift of presents</h3>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag "reg1.png" %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag "reg2.png" %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag "reg3.png" %>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <%= image_tag "reg4.png" %>
        </a>
      </div>
    </div>
  </div>

</section>

<!-- RSVP 02 -->

<section id="rsvp" class="rsvp-02">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Say you'll come</h3>
        <p>Please let us know if you will come,
          <br>I hope you enjoy our wedding party.</p>
      </div>
      <div class="col-md-12 text-center">
         <%= form_tag('/rsvp', class: "form-inline") do |f| %>
          <div class="alert alert-danger" style="display:none;"> Please enter your name!</div>
          <div class="alert alert-success" style="display:none;"> Thanks for your RSVP!</div>
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name / Names">
            <input type="text" class="form-control" id="email" name="email" placeholder="Your Email">
          </div>
          <button type="submit" class="btn btn-default submit">RSVP <i class="ion-ios-arrow-right"></i></button>
         <% end %>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        COPYRIGHT &copy; 2017 Matt & Jessica - ALL RIGHTS RESERVED
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to top -->
<div class="scroll-to-top affix" data-spy="affix" data-offset-top="200"><a href="#home"><i class="ion-ios-arrow-up"></i></a></div>
